@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer base {
    [data-theme="classy"] {
        --color-bg: #F1EDEE;
        --color-text: #3D5467;
        --color-primary: #DB5461;
        --color-secondary: #686963;
        --color-special: #8AA29E;
        --theme-font: 'Roboto Slab, serif'
    }
    
    [data-theme="cherry"] {
    --color-bg: #1B2021;
    --color-text: #EA638C;
    --color-primary: #EA638C;
    --color-secondary: #FFD9DA;
    --color-special: #30343F;
    --theme-font: 'Inter, sans-serif';
    }
}
